body section {
    display: none;
}

body section.active {
    display: block;
}

body section .container {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

body section .container .bg-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.next-btn {
    position: absolute;
    cursor: pointer;
    right: 18%;
    bottom: 4%;
}
.next-btn.hidden {
    display: none;
}

.stage1 .container .btn {
    position: absolute;
    top: 35%;
    cursor: pointer;
    width: 10%;
}

.stage1 .container .btn img {
    width: 100%;
    left: 0;
    top: 0;
}

.stage1 .container .btn:hover {
    transform: scale(1.02);
}

.stage1 .container .btn:active {
    transform: scale(1);
}

.stage2 .container .btn {
    position: absolute;
    top: 68%;
    cursor: pointer;
    width: 14%;
}

.stage2 .container .btn img {
    width: 100%;
    left: 0;
    top: 0;
}

.stage2 .container .btn:hover {
    transform: scale(1.02);
}

.stage2 .container .btn:active {
    transform: scale(1);
}

.stage3 .container .cards {
    display: flex;
    align-items: center;
}

.stage3 .container .cards .card-box {
    margin: 2% auto;
    cursor: pointer;
    width: 368px;
    height: 560px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.stage3 .container .cards .card-box .card {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

.stage3 .container .cards .card-box .card.back {
    transform: rotateY(180deg);
}

.stage3 .container .cards .card-box.flip {
    transform: rotateY(180deg);
}