body section {
    display: none;
}

body section.active {
    display: block;
}

body section .container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}
body section  .container .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stage1 .container .btn {
    position: absolute;
    top: 36%;
    cursor: pointer;
    width: 9%;
    z-index: 1;
}

.stage1 .container .btn img {
    width: 100%;
    left: 0;
    top: 0;
}

.stage1 .container .btn:hover {
    transform: scale(1.02);
}

.stage1 .container .btn:active {
    transform: scale(1);
}

.stage2 .container .btn {
    position: absolute;
    top: 68%;
    cursor: pointer;
    width: 14%;
    z-index: 1;
}

.stage2 .container .btn img {
    width: 100%;
    left: 0;
    top: 0;
}
.stage2 .container .btn:hover {
    transform: scale(1.02);
}

.stage2 .container .btn:active {
    transform: scale(1);
}

.stage3 .container .cards {
    z-index: 1;
    width: 70%;
}

.stage3 .container .cards .card {
    display: inline-block;
    width: 28%;
    padding: 2%;
}

.stage3 .container .cards .card img {
    width: 100%;
}