body section {
    display: none;
}

body section.active {
    display: block;
}

body section .container {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    aspect-ratio: 1440 / 1024;
    object-fit: contain;
    margin: 0 auto;
    position: relative;
}

body section .container .bg-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.next-btn {
    position: absolute;
    cursor: pointer;
    width: 6%;
    height: 9%;
    bottom: 3%;
    right: 3%;
}

.next-btn img {
    width: 100%;
    height: auto;
}

.next-btn.hidden {
    display: none;
}

.stage1 .container .btn {
    position: absolute;
    top: 36.5%;
    cursor: pointer;
    width: 13%;
}

.stage1 .container .btn img {
    width: 100%;
    left: 0;
    top: 0;
}

.stage1 .container .btn:hover {
    transform: scale(1.02);
}

.stage1 .container .btn:active {
    transform: scale(1);
}

.stage2 .container .btn {
    position: absolute;
    top: 69%;
    cursor: pointer;
    width: 20%;
}

.stage2 .container .btn img {
    width: 100%;
    left: 0;
    top: 0;
}

.stage2 .container .btn:hover {
    transform: scale(1.02);
}

.stage2 .container .btn:active {
    transform: scale(1);
}

.stage3 .container .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stage3 .container .cards .card-box {
    margin: auto 2%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 1s ease;
    width: 25%;
    height: 54%;
}

.stage3 .container .cards .card-box .card {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: contain;
}

.stage3 .container .cards .card-box .card.back {
    transform: rotateY(180deg);
}

.stage3 .container .cards .card-box.flip {
    transform: rotateY(180deg);
}

.stage4 .container .cards {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.stage4 .container .cards .card {
    width: 24%;
    height: 53.7%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: 7%;
    opacity: 0;
}